@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

/* Header Styles */
header {
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding-top: 30px;
}

h1{
  font-weight: 500;
}

/* Page Title Styles */
.page-title {
  margin: 0;
}

/* Main Content Styles */
main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
}

/* Project Styles */
.project {
  width: 30%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

/* Project Image Styles (1:1 Aspect Ratio) */
.project-image {
  width: 100%;
  padding-bottom: 100%; /* 1:1 aspect ratio */
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  transition: opacity 0.3s ease-in-out;
}

/* Project Title Container Styles */
.project-title-container {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* Project Title Styles */
.project-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000;
  transition: opacity 0.3s ease-in-out;
}

/* Project Overlay Styles */
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio : 1 / 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease-in-out;
}

.project-overlay p{
  text-align: center;
  font-weight: 1000;
  font-size: 40px;
  color: white;
}

/* Hover Effects */
.project:hover .project-image {
  opacity: 0.8;
}

.project:hover .project-title {
  opacity: 1;
}

.project:hover .project-overlay {
  opacity: 1;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .project {
      width: 100%; /* Display one column on smaller screens */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .project {
      width: 48%; /* Display two columns on mid-sized screens */
  }
}







/* .container{
  max-width: 85%;
  margin:50px auto;
  -ms-flex-align: center;
}

.container .image-container{
  columns:3 250px;
  gap: 80px;
}

.container .image-container img{
  margin-bottom: 50px;
  border-radius: 0px;
  width: 100%;
} */